# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/

# DB Files
instance/

# Environment variables
.env

# Output files
app_output.json
raw_news_data.json
relevant_articles.json
filtered_articles_content.txt

# macOS
.DS_Store

# Windows
Thumbs.db
